$main: #333;
$arrow-bg: white;
$focus: #ff9100;
$shadow: rgba(0, 0, 0, 0.3);
$aside-title: black;
$aside-headers: rgba(51, 51, 51, 0.6);
$aside-headers-hover: #333;
$aside-icons: rgba(255,255,255,.5);
$aside-icons-hover: rgba(255,255,255,.75);
$btn-end-side: darkgreen;