@mixin user-select ($option: none) {
    -webkit-user-select: $option;
    -moz-user-select: $option;
     -ms-user-select: $option;
         user-select: $option;
}

@mixin box-shadow($horizontal: .3em, $vertical: .4em, $blur: 1em, $spread1: 0.0625em, $spread2: 0.0625em, $color1: $shadow, $color2: $shadow) {
    -webkit-box-shadow: $horizontal $vertical $blur $spread1 $color1, $horizontal $vertical $blur $spread2 $color2;
            box-shadow: $horizontal $vertical $blur $spread2 $color1, $horizontal $vertical $blur $spread2 $color2;
}

@mixin box-shadow-countries($transparent: 0.3) {
    -webkit-box-shadow: 0.2em 0.2em 0.8em 0.0625em rgba(0, 0, 0, 0.3), 0.3em 0.3em 0.8em 0.0625em rgba(0, 0, 0, $transparent);
            box-shadow: 0.2em 0.2em 0.8em 0.0625em rgba(0, 0, 0, 0.3), 0.3em 0.3em 0.8em 0.0625em rgba(0, 0, 0, $transparent);
}

@mixin btn-box-shadow($horizontal: 0em, $vertical: 0em, $blur: 0.1125em, $spread: 0.025em, $color: rgba(0, 0, 0, 0.3)) {
    -webkit-box-shadow: $horizontal $vertical $blur $spread $color;
    box-shadow: $horizontal $vertical $blur $spread $color;
}